# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
out
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local
.env.production

# Prisma
packages/db/prisma/migrations/*.sql

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Uploads / temp
uploads/
tmp/
